.burger {
  width: auto;
  margin: auto;
  height: 250px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .burger {
    width: 15em;
    height: 13em;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .burger {
    width: 15em;
    height: 13em;
  }
}

@media (min-width: 500px) and (min-height: 400px) {
  .burger {
    width: 15em;
    height: 13em;
  }
}